In [1]:
import pandas as pd, numpy as np

In [2]:
import csv

In [33]:
ds = pd.read_csv('HW1_cars.csv', delimiter=',')

#### Q1 What's the version of NumPy installed

In [15]:
np.__version__

'1.21.5'

#### Q2 How many records are in the dataset

In [35]:
ds.count().max()

11914

#### Q3 Who are the most frequent car manufacturers (top-3)?

In [16]:
ds.Make.mode()
frequencies = ds.Make.value_counts().head(3)
frequencies

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

#### Q4 What's the number of unique Audi car models in the dataset?

In [21]:
Audi_models = pd.DataFrame(ds[
    (ds['Make']=='Audi')
].Model.unique())
Audi_models.count()

0    34
dtype: int64

#### Q5 How many columns in the dataset have missing values?

In [22]:
ds.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

#### Q6

In [23]:
# Find the median value of "Engine Cylinders" column in the dataset.
ds['Engine Cylinders'].median()

6.0

In [24]:
# calculate the most frequent value of the same "Engine Cylinders".
ds['Engine Cylinders'].mode()

0    4.0
Name: Engine Cylinders, dtype: float64

In [25]:
# median not change
fil_ds = ds
fil_ds['Engine Cylinders'] = ds['Engine Cylinders'].fillna(4.0)
fil_ds['Engine Cylinders'].median()

6.0

#### Q7

In [28]:
# Select all the "Lotus" cars from the dataset
# Select only columns "Engine HP", "Engine Cylinders".
# Drop all duplicated rows
f = ds[

    (ds['Make']=='Lotus')
][['Engine HP','Engine Cylinders']].drop_duplicates()

In [29]:
X = f.values
XT = np.transpose(X)
XTX = XT.dot(X)
InvXTX = np.linalg.inv(XTX)

In [30]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [32]:
# What's the value of the first element of w
r = InvXTX.dot(XT)
w = r.dot(y).round(10)
w[0]

4.5949448101